@import '../../base.scss';

.main {
    max-width: 100%;
    width: 100%;
    background-color: $grey-transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box {
    box-sizing: border-box;
    padding: 96px 130px 120px;
    display: flex;
    flex-direction: column;
}

.helix{
    width: 160px;
    height: 177px;
    position: absolute;
    top: -80px;
    left: 133px;
}

.cone {
    position: absolute;
    height: 292px;
    width: 292px;
    right: 156px;
    top: -179px;
    overflow: hidden;
}

.title {
    color: $text-gray;
    font-size: 60px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
}

.text {
    color: $text-gray;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0;
    margin-top: 39px;
}

.text_big {
    color: $text-gray;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

.link {
    color: $blue;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

@media(max-width: 1024px){

    .helix{
        width: 100px;
        height: 117px;
        top: -50px;
        left: 133px;
    }

    .cone {
        right: 16px;
        top: -129px;
    }

    .title{
        font-size: 36px;
        line-height: 45px;
    }

    .text {
        margin-top: 20px;
    }

    .box {
        padding: 50px 70px 60px;
    }
}

@media(max-width: 769px){
    .cone {
        width: 138px;
        height: 138px;
        right: 0px;
        top: -70px;
    }
}

@media(max-width: 425px){

    .cone {
        width: 59px;
        height: 59px;
        right: 0px;
        top: auto;
        bottom: 0;
    }

    .helix{
        width: 36px;
        height: 40px;
        top: -20px;
        left: 133px;
    }

    .title{
        font-size: 32px;
    }

    .box {
        padding: 25px 20px 45px;
    }
}

