@import '../../base.scss';


.main {
    max-width: 100%;
    width: 100%;
    background-color: $grey-transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    box-sizing: border-box;
    max-width: 1438px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 132px 105px;
}

.container{
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.donut{
    position: absolute;
    top: 20px;
    right: -30px;
    width: 45px;
    height: 45px;
}

.helix{
    position: absolute;
    width: 45px;
    height: 53px;
    top: -35px;
    left: 40%;
}

.curl{
    position: absolute;
    width: 78px;
    height: 78px;
    bottom: 100px;
    left: 140px;
}

.list{
    position: relative;
    max-width: 731px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box_present{
    max-width: 100%;
    width: 100%;
}

.title_present{
    width: 100%;
    font-size: 44px;
    line-height: 53px;
    font-weight: 700;
    color: $white;
    max-width: 60px auto 50px;
}

.list_present{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}


.box_video{
    margin-top: 90px;
    border: 4px solid $blue;
    border-radius: 23px;
    max-width: 1134px;
    height: 638px;
    width: 100%;
    padding: 0;
    overflow: hidden;
}


@media(max-width: 1365px){
    .container{
        flex-direction: column;
        align-items: center;
    }

    .list{
        margin-bottom: 50px;
    }
}

@media(max-width: 1024px){
    .box{
        padding: 40px;
    }

    .title_present{
        max-width: 30px auto 50px;
    }

    .box_video{
        margin-top: 50px;
        border: 2px solid $blue;
        border-radius: 13px;
        max-width: 646px;
        height: 363px;
        width: 100%;
    }

    .video {
        border-radius: 13px;
    }
}

@media(max-width: 577px){

    .box_video{
        margin-top: 20px;
        border-radius: 6px;
        max-width: 361px;
        height: 203px;
        width: 100%;
    }}

@media(max-width: 425px){
    .box{
        padding: 20px 20px 40px;
    }

    .title_present{
        max-width: 25px auto;
    }

    .box_video{
        margin-top: 20px;
        border: 1px solid $blue;
        border-radius: 6px;
        max-width: 315px;
        height: 177px;
        width: 100%;
    }

    .video {
        border-radius: 6px;
    }
}

@media(max-width: 360px){
    .list_present{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 355px){
    .list{
        flex-direction: column;
    }
}