@import '../../base.scss';

.box_info {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    color: $text-gray;
    font-size: 60px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
}

.text{
    color: $text-gray;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin: 39px 0 0;
    max-width: 734px;
}

@media(max-width: 1024px){

    .box{
        padding: 55px;
    }

    .title{
        font-size: 36px;
        line-height: 45px;
    }
    
    .text{
        font-size: 16px;
        line-height: 19px;
        margin: 17px 0 0;
        max-width: 479px;
    }
}

@media(max-width: 425px){

    .title{
        font-size: 32px;
    }
    
    .text{
        font-size: 14px;
        line-height: 17px;
        margin: 5px 0 0;
        max-width: 314px;
    }
}