@import '../../base.scss';

.main {
    position: relative;
    max-width: 100%;
    width: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    box-sizing: border-box;
    max-width: 1438px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.triangle {
    position: absolute;
    right: 20%;
    top: 90px;
    width: 160px;
    height: 160px;
}

.icosahedron{
    position: absolute;
    right: 0px;
    bottom: 40%;
    width: 281px;
    height: 281px;
}

.icosahedron_transparent{
    position: absolute;
    left: 70px;
    top: 70px;
    width: 203px;
    height: 203px;
}

.helix{
    width: 160px;
    height: 177px;
    position: absolute;
    bottom: -70px;
    left: 133px;
}

.box {
    box-sizing: border-box;
    max-width: 1438px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0px;
    z-index: 1;
}

.box_info {
    z-index: 5;
    max-width: 1000px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(
        107.95deg,
        rgba($background-g, .07) 0%,
        rgba($background-n, 0) 83.15%,);
        border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(32px);
}

.title {
    color: $text-gray;
    font-size: 60px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    margin: 47px 0 19px;
}

.text {
    color: $text-gray;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    max-width: 816px;
    width: 100%;
}

.text_blue {
    color: $blue;
}

.link {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    color: $white;
    background-color: $blue;
    border-radius: 6px;
    text-align: center;
    width: 279px;
    height: 61px;
    margin: 30px 0 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        cursor: pointer;
        filter: drop-shadow(0 0 5px $blue);
        transition: .3s;
    }
}

@media(max-width: 1028px){

    .triangle {
        right: 25%;
        top: 0px;
        width: 160px;
        height: 160px;
    }

    .helix{
        width: 100px;
        height: 117px;
        bottom: 0;
        left: 133px;
    }

    .box {
        padding: 90px 20px;
    }

    .box_info {
        max-width: 593px;
    }
    
    .title {
        font-size: 36px;
        line-height: 45px;
    }
    
    .text {
        font-size: 14px;
        line-height: 17px;
        max-width: 412px;
    }
    
    .link {
        font-size: 20px;
        line-height: 24px;
        width: 227px;
        height: 48px;
    }
}

@media(max-width: 769px){
.icosahedron{
    position: absolute;
    right: -50px;
    bottom: 30%;
    width: 281px;
    height: 281px;
}

.icosahedron_transparent{
    position: absolute;
    left: -20px;
    top: 0px;
    width: 203px;
    height: 203px;
}
}

@media(max-width: 460px){

    .triangle {
        right: 25%;
        top: -10px;
        width: 100px;
        height: 100px;
    }

    .helix{
        width: 36px;
        height: 40px;
        bottom: 0px;
        left: 133px;
    }

    .box {
        padding: 40px 20px;
    }

    .box_info {
        max-width: 323px;
    }
    
    .title {
        font-size: 32px;
        line-height: 42px;
        margin: 20px;
    }
    
    .text {
        font-size: 14px;
        line-height: 17px;
        max-width: 230px;
    }
    
    .link {
        font-size: 20px;
        line-height: 24px;
        width: 227px;
        height: 48px;
        margin: 20px;
    }
}

