@import '../../base.scss';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $background-color;
}

.container{
    max-width: 1438px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 29px 73px 56px;
}


.image {
    box-sizing: border-box;
    position: relative;
    height: 524px;
    width: 100%;
    max-width: 427px;
    background-image: url(../../image/InitialPage/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.icosahedron{
    position: absolute;
    right: -100px;
    bottom: -150px;
    width: 281px;
    height: 281px;
}

.hat {
    position: absolute;
    width: 165px;
    height: 120px;
    top: -30px;
    left: -50px;
    z-index: 3;
}

.cone {
    position: absolute;
    width: 85px;
    height: 85px;
    left: -30px;
    bottom: 0px;
}

.helix {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 20px;
    right: 0;
}

.box {
    max-width: 830px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 27px;
}

.title{
    width: 100%;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin: 47px auto 53px;
    text-transform: uppercase;
    z-index: 3;
}

.subtitle{
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    margin: 0;
    margin-top: 32px;
}

.text{
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
    z-index: 1;
}

@media(max-width: 1280px){

    .image {
        max-width: 327px;
        height: 403px;
    }

    .title{
        font-size: 49px;
        line-height: 59px;
    }
    
    .subtitle{
        font-size: 36px;
        line-height: 43px;
    }

    .text{
        font-size: 22px;
        line-height: 28px;
    }
}


@media(max-width: 1024px){

    .helix {
        width: 65px;
        height: 65px;
        top: 0px;
        right: -20px;
    }

    .hat {
        width: 115px;
        height: 82px;
        top: -25px;
        left: -40px;
    }

    .cone {
        width: 75px;
        height: 75px;
        left: -40px;
        bottom: -35px;
    }
    

    .image {
        max-width: 205px;
        height: 251px;
    }

    .container{
        padding: 29px 60px 56px;
    }

    .box {
        max-width: 630px;
    }

    .subtitle{
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }

    .title{
        font-size: 38px;
        line-height: 45px;
    }

    .text{
        font-size: 16px;
        line-height: 19px;
    }
}

@media(max-width: 768px){
    .box {
        margin-left: 66px;
    }

    .title{
        font-size: 36px;
        line-height: 43px;    
        margin: 15px auto; 
}
}

@media(max-width: 760px){
    .container{
        align-items: center;
        flex-direction: column;
        padding: 25px 20px;
    }

    .box {
        margin: 0;
        margin-top: 50px;
    }
}

@media(max-width: 425px){

    .subtitle{
        font-size: 16px;
        line-height: 19px;
        margin: 0;
    }

    .title{
        font-size: 24px;
        line-height: 29px;
    }

    .text{
        font-size: 14px;
        line-height: 17px;
    }

}