@import '../../base.scss';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 1438px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 29px 73px 56px;
    position: relative;
}


.image {
    height: 524px;
    width: 100%;
    max-width: 427px;
    background-image: url(../../image/InitialPage/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 27px;
}

.hat {
    position: absolute;
    width: 165px;
    height: 91.3px;
    top:16px;
    left: 17.5px;
    transform: rotate(-27.5deg);
}

.cone {
    position: absolute;
    width: 85px;
    height: 85px;
    left: 17px;
    bottom: 68.5px;
}

.helix {
    position: absolute;
    width: 85px;
    height: 85px;
    top: 71px;
    left: 390px;
}

.title{
    max-width: 100%;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    margin: 47px auto 53px;
    text-transform: uppercase;
}

.subtitle{
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    margin: 0;
    margin-top: 32px;
}

.text{
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
}

@media(max-width: 1280px){

    .image {
        max-width: 327px;
        height: 403px;
    }

    .title{
        font-size: 49px;
        line-height: 59px;
    }
    
    .subtitle{
        font-size: 36px;
        line-height: 43px;
    }

    .text{
        font-size: 22px;
        line-height: 28px;
    }
}


@media(max-width: 1024px){

    .image {
        max-width: 205px;
        height: 251px;
    }

    .container{
        padding: 29px 60px 56px;
    }
    

    .subtitle{
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }

    .title{
        font-size: 38px;
        line-height: 45px;
    }

    .text{
        font-size: 16px;
        line-height: 19px;
    }
}

@media(max-width: 768px){
    .box {
        margin-left: 66px;
    }

    .title{
        font-size: 36px;
        line-height: 43px;    
        margin: 15px auto; 
}
}

@media(max-width: 760px){
    .container{
        align-items: center;
        flex-direction: column;
        padding: 25px 20px;
    }

    .box {
        margin: 0;
        margin-top: 50px;
    }
}

@media(max-width: 425px){

    .subtitle{
        font-size: 16px;
        line-height: 19px;
        margin: 0;
    }

    .title{
        font-size: 24px;
        line-height: 29px;
    }

    .text{
        font-size: 14px;
        line-height: 17px;
    }

}