@import '../../base.scss';


.main {
    max-width: 100%;
    width: 100%;
    background-color: $grey-transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    box-sizing: border-box;
    max-width: 1438px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 132px 105px;
}

.container{
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.list{
    max-width: 731px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box_present{
    max-width: 100%;
    width: 100%;
}

.title_present{
    width: 100%;
    font-size: 44px;
    line-height: 53px;
    font-weight: 700;
    color: $white;
    max-width: 60px auto 50px;
}

.list_present{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width: 1365px){
    .container{
        flex-direction: column;
        align-items: center;
    }

    .list{
        margin-bottom: 50px;
    }
}

@media(max-width: 1024px){

    .box{
        padding: 55px;
    }

    .title_present{
        max-width: 30px auto 50px;
    }
}

@media(max-width: 768px){
   
}

@media(max-width: 425px){
    .box{
        padding: 20px 20px 40px;
    }
}

@media(max-width: 355px){
    .list{
        flex-direction: column;
    }
}